<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle Contenedor</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/js/app.js" defer></script>
</head>

<body id="container-detail">
    <header>
        <h1>Contenedor</h1><a href="containers_list.html">← Volver</a>
    </header>
    <form id="item-form">
        <input type="hidden" name="id">
        <label>Nombre<input name="name" required></label>
        <label>Descripción<input name="description"></label>
        <button type="submit">Guardar</button>
    </form>
</body>

</html>